*{
   padding: 0;
   margin: 0;
   border: 0;
	box-sizing: border-box;
}


nav.navigation li{
	display: inline-block;
	padding: 30px 15px;
	font-size: 17.5px;
}

nav.navigation a{
	color: whitesmoke;
	text-decoration: none;
}

nav.navigation {
	text-align: center;
	background-color: black;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
}


.banner{
	background-color: rgb(12, 75, 163);
	text-align: center;
	color: azure;
	padding: 90px 0;
	position: relative;
	top: 80px;
	margin-bottom: 100px;
	height: 700px;
}


.domo-image{
	height: 400px;
	width: 400px;
	filter: drop-shadow(1px 1px 1px black);
}

h1{
	margin-bottom: 15px;
}

p{
	padding-top: 15px;
}

.footer-nav li{
	display: inline-block;
	padding: 10px 20px;
	
}
.footer-nav{
	text-align: right;
	background-color: black;
	position: relative;
	top: 0%;
	height: 50px;
}
nav.footer-nav a{
	color: whitesmoke;
	text-decoration: none;
}

.size p{
	font-size: 30px;
	padding: 20px 0;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.banner p{
	font-size: 20px;
	font-weight: 900;
}
